.container {
  background: #295de7;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: hidden;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  flex-direction: column;
  padding: 2rem 10rem;
  position: relative;
  bottom: 5rem;
}

.content img {
  height: 50rem;
  width: 50rem;
  transform: scale(0.9);
  overflow-y: hidden;
}

@media only screen and (min-width: 992px) {
  .content div {
    flex-direction: row;
    justify-content: space-between;
  }

  .content img {
    height: 100%;
    width: 100%;
    transform: scale(0.9);
    overflow-y: hidden;
  }
}

.contentIntroduce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 2rem;
  color: #fff;
  user-select: none;
}

.contentIntroduce h1 {
  font-size: 3rem;
}

.contentIntroduce p {
  width: 40rem;
  font-size: 2rem;
  text-align: center;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 45rem;
}

.btnContainer button {
  border: none;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ccc;
}

.btnContainer #discordApp {
  color: #1f2937;
}

.btnContainer #discordBrowser {
  background-color: #1f2937;
}

@media only screen and (min-width: 768px) {
  .btnContainer {
    flex-direction: row;
  }
}
